body {
    text-align: center;
    background: #f2f2f2;
}

.img-01 {
    margin: 5em 0 5em 0;
    box-shadow: 0px 0px 30px 10px lightgray;
}

.div-01 {
    margin-bottom: 50px;
    box-shadow: 0px 0px 10px 5px lightgray;
    border-radius: 30px;
    height: 450px;
    width: 700px;
    display: inline-block;
    text-align: center;
}

.div-02 {
    display: inline-block;
}

.div-03 {
    display: inline-block;
    margin: 5em 0 0 0;
}

.div-04 {
    margin-top: 2em;
    display: inline-block;
    text-align: center;
    box-shadow: 0px 0px 30px 10px lightgray;
    border-radius: 30px;
    width: 700px;
}

.div-05 {
    display: flex;
}

.div-06 {
    display: inline-block;
    margin: 0 0 0em 0;
}

.div-07 {
    text-align: right;
}

.div-08 {
    text-align: left;
}

.div-09 {
    display: inline-block;
    margin: 0 0 15em 0;
}

.div-10{
    display: flex;
}

.flex-div {
    display: flex;
}

.zoom {
    zoom: 40%;
}

.h1-01 {
    margin: 0 0 20px 0;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

.h1-02 {
    margin: 5px 0 5px 0;
    font-size: 25px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

.h1-03 {
    margin: 0 0 1em 0;
}

.h1-04 {
    margin: 0;
    font-size: 30px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

.h2-01 {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    position: absolute;
    margin-left: 1em;
}

.h2-02 {
    margin: 0;
}

.h2-03 {
    margin: 0 1em 0 1em;
}

.h4-01 {
    margin: 7px 0 0 0;
    background: lightgray;
    border-radius: 15px 0 0 15px;
    font-size: 20px;
    padding: 3px 0 3px 10px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

.c401a {
    width: 190px;
    border-radius: 0 15px 15px 0;
    padding-right: 10px;
}

.cd01a {
    text-align: right;
    display: inline-block;
}

.cd03a {
    display: inline-block;
}

select,option {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: bolder;
}

select {
    font-size: 18px;
    padding-top: 4px;
    width: 200px;
    height: 35px;
}

button {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 20px;
    width: 80px;
    height: 35px;
    font-weight: bolder;
    border: none;
    background-color: lightgray;
    border-radius: 15px;
    cursor: pointer;
}

.btn-01 {
    margin: 3em 0 1em 0;
}

.h1-02-01 {
    margin: 5px 0 1em 0;
}

.a-01 {
    display: block;
}

.a-h2 {
    font-size: 25px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

.span-01 {
    color: red;
    font-size: 35px;
}

select {
    height: 35px;
    width: 200px;
    padding-top: 3px;
    padding-left: 5px;
    border: none;
    background-color: lightgray;
    border-radius: 15px;
}

.bd01 {
    display: inline-block;
}

@media screen and (max-width: 1200px){
    .img-01 {
        width: 80vw;
    }

    .div-09 {
        width: 80vw;
    }

    .div-01 {
        width: 60vw;
    }
    
    .div-04 {
        width: 60vw;
    }
}

@media screen and (max-width: 900px){
    .header-div {
        zoom: 80%;
    }

    .img-01 {
        width: 80vw;
    }

    .h1-04,.span-01 {
        font-size: 20px;
    }

    .footer-h1-01 {
        font-size: 15px;
    }

    .footer-h1-02 {
        font-size: 10px;
    }
}